COMPOSE_PROJECT_NAME=kontrak-central-saga
APP_DOMAIN=kontrak-centralsaga.test
PROXY_HTTP_PORT=80

POSTGRES_DB=kontrak_central_saga
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

BACKEND_APP_NAME="Kontrak Central Saga API"
BACKEND_APP_ENV=local
BACKEND_APP_DEBUG=true
BACKEND_APP_KEY=
BACKEND_APP_URL=http://kontrak-centralsaga.test
BACKEND_LOG_LEVEL=debug
BACKEND_FILESYSTEM_DISK=public
BACKEND_MEDIA_DISK=public

FRONTEND_APP_URL=http://kontrak-centralsaga.test
NEXT_PUBLIC_API_BASE_URL=/api
SERVER_API_BASE_URL=http://backend
