COMPOSE_PROJECT_NAME=kontrak-central-saga
FRONTEND_APP_DOMAIN=app.kontrak-centralsaga.test
BACKEND_APP_DOMAIN=api.kontrak-centralsaga.test
PROXY_HTTP_PORT=80
PROXY_HTTPS_PORT=443
LOCAL_TLS_ENABLED=true

POSTGRES_DB=kontrak_central_saga
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

BACKEND_APP_NAME="Kontrak Central Saga API"
BACKEND_APP_ENV=local
BACKEND_APP_DEBUG=true
BACKEND_APP_KEY=
BACKEND_APP_URL=https://api.kontrak-centralsaga.test
BACKEND_LOG_LEVEL=debug
BACKEND_FILESYSTEM_DISK=public
BACKEND_MEDIA_DISK=public
SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1,app.kontrak-centralsaga.test

FRONTEND_APP_URL=https://app.kontrak-centralsaga.test
NEXT_PUBLIC_API_BASE_URL=https://api.kontrak-centralsaga.test
SERVER_API_BASE_URL=http://backend
